img{
    width: 80px;
    border-radius: 15px;
}
h3{
    margin-right: 20px;
}

#Gryffindor {
    border: 5px solid #A40201;
}

#Slytherin{
    border: 5px solid #00A421;
}

#Hufflepuff{
    border:5px solid #F9E141;
}

#Ravenclaw{
    border: 5px solid #737a7c;
}

@media (min-width:769px){
    img{
        width: 211px;
        height: 283px;
        margin-right: 20px;
    }
}
